* text=auto

.gitattributes text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

packages/hub/THIRD_PARTY_NOTICES.md text eol=lf
packages/source-windows/THIRD_PARTY_NOTICES.md text eol=lf
